<template name="header">
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo center" href="{{pathFor 'home'}}">TravelApp</a>

            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{pathFor 'home'}}">Locations</a></li>
                <li><a href="{{pathFor 'commentsBoard'}}">CommentsBoard</a></li>
                <li><a href="{{pathFor 'commentsBox'}}">CommentsBox</a> </li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">{{> atNavButton}}</a></li>
            </ul>
        </div>
    </nav>
</template>
